$theme-color: #1C1C2F;  // 主题色
$theme-gray: #666666;  //二级文字颜色
$theme-light-gray: #B5B6B7;  //辅助性文字颜色
$theme-red: #D85040;    //特殊文字颜色 

$btn-color: #F8D347;       //按钮与重要数字颜色
$bac-color: #2C2D2F;       //背景深色
$line-color: #EEEEEE;      //分割线颜色
$input-color: #F3F5F9;     //区块间,输入框颜色
*{
  padding:0px;
  margin:0px;
}
html, body, #app{
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Medium';
}
view {
  display: block;
  font-size: 28rpx;
  vertical-align: top;
  font-family: 'PingFangSC-Regular';
  color: theme-color;
}
page {
  position: relative;
  background: #ffffff;
  height: 100%;
  color: theme-color;
}
image {
  display: inline-block;
  vertical-align: middle;
}
.container{
 min-height:100%;
 box-sizing: border-box;
 background: #f9f9f9;
}
.btn-default{
  width:560rpx;
  height:90rpx;
  line-height: 90rpx;
  background: #F8D347;
  border-radius: 10rpx;
  font-size: 36rpx;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.button-hover {
  background-color: #F4C52F;
}
button::after{
  border:none;
}